@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}

body, html{

    margin: 0px auto;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #34495e;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}

.board{

    width: 300px;
    min-width: 300px;
    height: auto;
    margin: 48px auto;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.container{

    width: 100%;
    height: auto;
    text-align: center;

}

.logo{

    width: 100%;
    height: auto;
    margin: 0px auto;
    padding: 18px 32px 18px 32px;
    text-align: center;
    text-transform: capitalize;

}

.player-data{

    margin: 0px auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

#root{

    width: 100%;
    height: auto;
    box-sizing: border-box;

}

#restart-game{

    margin: 32px auto;
    padding: 18px 32px 18px 32px;
    text-transform: capitalize;
    border: 3px solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    font-size: 16px;
    transition: all 0.5s ease;
}

#restart-game:hover{

    box-shadow: 0px 2px 6px rgba(0,0,0,0.6);
    border-color:rgba(255, 255, 255, 0.5);

}

#result{
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding: 18px auto;
    text-align: center;
    transition: all 0.3s ease;
}

.scoreboard{

    width: 100%;
    padding: 16px;
    margin: 0px auto;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.table{

    width: 100px;
    height: 100px;
    border: 3px solid #2c3e50;
    color: rgba(255, 255, 255, 1);
    margin: 0px;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
    line-height: 60px;
    font-size: 3.2em;
    transition: all 0.5s ease;
    cursor: pointer;
    font-weight: bold;
}

.table:hover{

    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.295);

}

.winner-position{

    background-color: rgba(255, 255, 255, 0.1);
    color: #55efc4;

}

@media screen and (min-width: 768px){

    .board{

        width: 450px;
        min-width: 450px;
        height: auto;
        margin: 48px auto;
        padding: 0px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
    }

    .container{

        width: 50%;
        max-width: 450px;

    }

    .scoreboard{

        width: 50%;
        max-width: 450px;

    }

    .table{

        width: 150px;
        height: 150px;
        border: 3px solid #2c3e50;
        color: rgba(255, 255, 255, 1);
        margin: 0px;
        padding: 16px;
        box-sizing: border-box;
        text-align: center;
        line-height: 100px;
        font-size: 4em;
        transition: all 0.5s ease;
        cursor: pointer;
        font-weight: bold;
    }

    .winner-position{

        background-color: rgba(255, 255, 255, 0.1);
        color: #55efc4;
    
    }

}